SPRING_ENV=dev
SPRING_APP_NAME=UsuariosMicroservice
HOST_PORT=8081
HOST_DB_PORT=3307

MYSQL_DATABASE=users_api
MYSQL_HOST=localhost
MYSQL_PASSWORD=password
MYSQL_PORT=3307
MYSQL_ROOT_PASSWORD=root_password
MYSQL_USER=user

PHPMYADMIN_PORT=8091
